body {
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.outside-box {
  /* justify-content: center; */
  width: 50%;
  height: 360px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 3px solid #73ad21;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.details {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
}
/* .drum-pad,
.numpad {
  flex: 0 0 32%;
  height: 50px;
  margin-bottom: 5px;
  background-color: #999;
  font-weight: bold;
}
.controlpad {
  flex: 0 0 32%;
  height: 50px;
  margin-bottom: 5px;
  background-color: #999;
  font-weight: bold;
} */
