/* Custom default button */

body {
  color: #fff;
  background-color: #000;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.outside-box {
  justify-content: center;
  width: 50%;
  height: 300px;
  margin: auto;
  border: 3px solid #73ad21;
}

.grid {
  display: flex; /* establish flex container */
  flex-wrap: wrap; /* enable flex items to wrap */
  justify-content: space-around;
  width: 60%;
}
.drum-pad {
  flex: 0 0 32%; /* don't grow, don't shrink, width */
  height: 50px;
  margin-bottom: 5px;
  background-color: #999;
  font-weight: bold;
}
