body {
  color: #fff;
  background-color: #000;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.outside-box {
  justify-content: center;
  width: 50%;
  height: 300px;
  margin: auto;
  display: flex;
  border: 3px solid #73ad21;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
}
.drum-pad,
.numpad {
  flex: 0 0 32%;
  height: 50px;
  margin-bottom: 5px;
  background-color: #999;
  font-weight: bold;
}
.controlpad {
  flex: 0 0 32%;
  height: 50px;
  margin-bottom: 5px;
  background-color: #999;
  font-weight: bold;
}
